.card {
  background-color: #D5D5D5;
  width: 100px;
  height: 170px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: 8px 7px 7px -3px #5C5C5C;
}

.card__avatar {
  margin-top: 10px;
}

.card__avatar img {
  width: 50px;
  border-radius: 50%;
}

.card__profil,
.card__profil--alt {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card__profil p {
  margin: 0;
  font-size: 0.8em;
  font-weight: 600;
  overflow-wrap: break-word;
  width: 80%;
}

.card__link {
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__link a {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background-color: #00A1FF;
  border: none;
  width: 70px;
  height: 20px;
  font-size: 0.6em;
  transition: 0.3s;
  text-decoration: none;
  color: black;
}

.card__link a:hover {
  background-color: rgb(144, 164, 252);
  cursor: pointer;
  transition: 0.3s;
}

/*------style alternatif----*/
.card--alt {
  background-color: #D5D5D5;
  height: 320px;
  width: 290px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 8px 7px 7px -3px #5C5C5C;
}

.card__avatar--alt {
  margin-top: 30px;
}

.card__avatar--alt img {
  width: 82px;
  border-radius: 50%;
}

.card__profil--alt p {
  margin: 0;
  font-size: 1.1em;
  font-weight: 700;
  overflow-wrap: break-word;
  width: 80%;
}

.card__link--alt {
  margin-top: 5px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__link--alt a {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background-color: #00A1FF;
  border: none;
  width: 200px;
  height: 60px;
  font-size: 1.2em;
  font-weight: 600;
  transition: 0.3s;
  text-decoration: none;
  color: black;
  margin-bottom: 20px;
}

/* alt style for checkbox*/
.card__container--alt {
  display: block;
  position: absolute;
  transform: translate(10px, 10px);
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.card__container--alt input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.card__container--alt:hover input~.checkmark {
  background-color: #ccc;
}

.card__container--alt input:checked~.checkmark {
  background-color: #2196F3;
}

.card__container--alt input:checked~.checkmark:after {
  display: block;
}

.card__container--alt .checkmark:after {
  left: 3px;
  top: 3px;
  width: 3px;
  height: 3px;
  border: solid rgb(0, 0, 0);
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


/*------------------checkbox style------------------*/
.card__container {
  display: block;
  position: absolute;
  transform: translate(5px, -80px);
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.card__container--disabled {
  display: none;
}

.card__container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 12px;
  width: 12px;
  background-color: #D5D5D5;
  border: solid 2px black;
  border-radius: 5px;

}

.card__container:hover input~.checkmark {
  background-color: #ccc;
}

.card__container input:checked~.checkmark {
  background-color: #2196F3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.card__container input:checked~.checkmark:after {
  display: block;
}

.card__container .checkmark:after {
  left: 3px;
  top: 3px;
  width: 3px;
  height: 3px;
  border: solid rgb(0, 0, 0);
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}